{% extends 'base.html.twig' %}

{% block title %}Hello HouseController симфония!{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row  justify-content-center align-items-center">
                {{ form_start(form, { 'attr': {
                    'class' : 'form form-signin bg-secondary' }}) }}

                {{ form_widget(form.number, { 'attr': {
                    'class' : 'form-control mb-2',
                    'placeholder' : "Quarters number"}}) }}
                {{ form_widget(form.floor, { 'attr': {
                    'class' : 'form-control mb-2',
                    'placeholder' : "Quarters floor"}}) }}
                {{ form_widget(form.rooms, { 'attr': {
                    'class' : 'form-control mb-2',
                    'placeholder' : "Quarters rooms"}}) }}
                {{ form_widget(form.square, { 'attr': {
                    'class' : 'form-control mb-2',
                    'placeholder' : "Quarters square"}}) }}
                {{ form_widget(form.price, { 'attr': {
                    'class' : 'form-control mb-2',
                    'placeholder' : "Quarters price"}}) }}
                {{ form_widget(form.Type, { 'attr': {
                    'class' : 'form-control mb-2',
                }}) }}

                <div class="row">
                    <div class="col">
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-lg btn-primary btn-block">Go back</a>
                    </div>
                    <div class="col">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ button }}</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
