{% extends 'base.html.twig' %}

{% block title %}Hello HouseController симфония!{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row mb-5 p-3 ">
                <div class="col-md-4">
                    <a class="btn btn-outline-secondary" href="{{ path('house_add') }}">Add house</a>
                </div>
            </div>
            <div class="row">

                {% for house in houses %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Name: <span class="text-danger"><small>{{ house.name }}</small></span></li>
                                    <li>Address: <span class="text-danger"><small>{{ house.address }}</small></span></li>
                                    <li>Floors: <span class="text-danger"><small>{{ house.floors }}</small></span></li>
                                    <li>Dead line: <span class="text-danger"><small>{{ house.deadline|date("d.m.Y") }}</small></span></li>
                                </ul>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('house_show', {'id': house.id}) }}" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="{{ path('house_edit', {'id': house.id}) }}" class="btn btn-sm btn-outline-primary">Edit</a>
                                        <a href="{{ path('house_delete', {'id': house.id}) }}" class="btn btn-sm btn-outline-danger">Delete</a>
                                    </div>
                                    <small class="text-muted">{{ house.createdat|date("d.m.Y H:i") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}

                    <h2>no records found</h2>

                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(houses) }}
            </div>
        </div>
    </div>

{% endblock %}
