{% extends 'base.html.twig' %}

{% block title %}Hello HouseController симфония!{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">

            {% for message in app.flashes('info') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row mb-5 p-3 ">
                <h2>House: {{ house.name }}</h2>
                <div class="col-md-4">
                    <a class="btn btn-outline-secondary" href="{{ path('house_add_quarters', {'id': house.id}) }}">Add quarters</a>
                </div>
            </div>

            <div class="row">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">№ </th>
                            <th scope="col">{{ knp_pagination_sortable(quarters, 'Floor', 'quarter.floor') }}</th>
                            <th scope="col">Type</th>
                            <th scope="col">{{ knp_pagination_sortable(quarters, 'Rooms', 'quarter.rooms') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(quarters, 'Square', 'quarter.square') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(quarters, 'Price', 'quarter.price') }}</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quarter in quarters %}
                            <tr>
                                <th scope="row">{{ quarter.number }}</th>
                                <td>{{ quarter.floor }}</td>
                                <td>{{ quarter.type.name }}</td>
                                <td>{{ quarter.rooms }}</td>
                                <td>{{ quarter.square }}</td>
                                <td>{{ quarter.price }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('quarters_edit', {'id': quarter.id}) }}" class="btn btn-sm btn-outline-primary">Edit</a>
                                        <a href="{{ path('quarters_delete', {'id': quarter.id}) }}" class="btn btn-sm btn-outline-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>no quarters</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(quarters) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <a href="{{ path('index') }}" class="btn btn-lg btn-primary btn-block">Go back</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
